@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

h1,
p {
  font-family: Lato;
}

html {
  background-color: #eee8;
}
body,
#root {
  max-height: 100vh;
}

button {
  position: relative;
}

.highcharts-series {
  filter: drop-shadow( 1pt 2pt 1pt #1026);
}

.highcharts-legend text {
  cursor: auto !important;
}

button:not(:disabled) {
  cursor: pointer
}

label + button {
  max-width: min-content;
  padding: .25em .5em;
}